@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}

::-moz-selection {
  color: #ffffff;
  background-color: #7367f0;
}

::selection {
  color: #ffffff;
  background-color: #7367f0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #6d6d6d;
  -webkit-transition: background-color 5000s;
  -o-transition: background-color 5000s;
  -moz-transition: background-color 5000s;
  transition: background-color 5000s;
  -webkit-box-shadow: 0 0 0 #0000 inset;
  box-shadow: 0 0 0 #0000 inset;
}

input:-webkit-autofill::selection,
input:-webkit-autofill:hover::selection,
input:-webkit-autofill:focus::selection,
input:-webkit-autofill:active::selection {
  -webkit-text-fill-color: #ffffff;
}

label {
  margin-bottom: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
}

.page-wrapper {
  padding-top: 240px;
  padding-bottom: 55px;
}

@media screen and (max-width: 667px) {
  .page-wrapper[data-scroll="false"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: var(--page-wrapper-height);
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.page-wrapper__bg {
  top: 0;
  left: 0;
  height: 40vh;
  min-height: 342px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-card {
  padding: 65px 38px;
  margin-bottom: 22px;
  color: #060606;
  background-color: #ffffff;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 10px rgba(6, 6, 6, 0.05);
          box-shadow: 0 0 10px rgba(6, 6, 6, 0.05);
}

@media screen and (max-width: 667px) {
  .app-card--sm {
    padding: 25px;
  }
  .app-card--sm .app-card__form {
    margin-top: 20px;
  }
  .app-card--sm .app-card__form__group:last-child {
    margin-bottom: 20px;
  }
}

.app-card__logo {
  width: 115px;
  height: 115px;
  background-color: #060606;
  -webkit-box-shadow: 0 0 10px rgba(6, 6, 6, 0.2);
          box-shadow: 0 0 10px rgba(6, 6, 6, 0.2);
  margin-top: -50%;
}

.app-card__logo-text {
  font-weight: 400;
  margin-bottom: 35px;
}

.app-card__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.app-card__text {
  font-size: 14px;
  font-weight: 400;
}

.app-card__list__item:not(:last-child) {
  margin-bottom: 20px;
}

.app-card__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
}

.app-card__input:checked + .app-card__btn, .app-card__input:focus-visible + .app-card__btn {
  color: #ffffff;
  background-color: #7367f0;
  -webkit-box-shadow: 0 8px 25px -8px #7367f0;
          box-shadow: 0 8px 25px -8px #7367f0;
}

.app-card__btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 1px solid #7367f0;
  width: 100%;
  color: #7367f0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
  outline: none;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  max-width: 305px;
}

@media screen and (max-width: 400px) {
  .app-card__btn {
    max-width: 275px;
  }
}

@media screen and (min-width: 768px) {
  .app-card__btn {
    max-width: 275px;
  }
}

.app-card__btn[type="submit"] {
  background-color: #f8f8f8;
}

.app-card__btn:hover, .app-card__btn:focus-visible {
  color: #ffffff;
  background-color: #7367f0;
  -webkit-box-shadow: 0 8px 25px -8px #7367f0;
          box-shadow: 0 8px 25px -8px #7367f0;
  outline: none;
}

.app-card__form {
  margin-top: 55px;
}

.app-card__form__group {
  margin-bottom: 40px;
}

.app-card__form__control {
  color: #6d6d6d;
  font-weight: 500;
  border: 0;
  border-bottom: 2px solid #e6e6e6;
  padding: 2px 5px;
  height: 35px;
  caret-color: #7367f0;
}

.app-card__form__control:focus + .app-card__form__label,
.app-card__form__control:not(:placeholder-shown) + .app-card__form__label {
  font-size: 14px;
  left: 0;
  -webkit-transform: translate(0, -140%);
     -moz-transform: translate(0, -140%);
      -ms-transform: translate(0, -140%);
       -o-transform: translate(0, -140%);
          transform: translate(0, -140%);
}

.app-card__form__label {
  left: 10px;
  color: #6d6d6d;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */